<div *ngIf="article">
    <div class="row mt-5">
        <div class="col-md-4 border border-left-0 border-top-0 border-bottom-0">
            <h2>Modifier:{{article.title | uppercase}}</h2>
            <div class="mt-4">
                <label>Modifier article:
                    <div>
                        <div> Titre:</div>
                   
                        <input class="mb-1" style="width: 300px;" [(ngModel)]="article.title" placeholder="title"/>           
                    </div>
                    <div>
                    <div>Photo:</div>
                        <input type="file" class="mb-1" style="width: 300px;" [(ngModel)]="article.photo" placeholder="photo" />
                    </div>
                    <div>
                    <div>Text:</div>
                    <textarea class="mb-1" rows="5" style="width: 300px;" [(ngModel)]="article.text" placeholder="text"></textarea>
                    </div>
                </label>
                <div class="mb-4">
                    <button class="mr-1" (click)="save()">save</button>
                    <button (click)="goBack()">go back</button>
                </div>

            </div>
        </div>
        <div class="col-md-8 ">

            <h2 class="text-center">{{article.title | uppercase}}</h2>
            <div class="text-center">
                <img src="/assets/img/{{article.photo}}" />
            </div>

            <div class="card mt-3 p-3">{{article.text}}</div>
            <div class="font-italic">{{article.date | date:'mediumDate'}}</div>
            <div class="mt-4">
                Comments:
                <div *ngFor="let commentaire of commentaires" class="mb-1 font-weight-lighter">
                    {{commentaire.commentaires}}
                </div>
            </div>

            <form class="mt-3" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <label>Comments
          <textarea name="commentaires" rows="4" class="form-control" style="width: 500px;" ngModel></textarea>
            </label>
                <div class="mb-5">
                    <button type="submit" class="ml-3">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>