<div class="mt-5">
    <div class="row d-flex justify-content-around">
        <div class="col-md-4 border border-left-0 border-top-0 border-bottom-0">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <h2 class="mb-5">Ajouter Article</h2>

                <div class="form-group col-md-10">
                    <label class="mr-3">Title
                    <input name="title" style="width: 300px;" class="form-control" ngModel required #first="ngModel">
                 </label>

                    <label>Photo
                    <input type="file" class="form-control" name="image" multiple (change)="selectImage($event)" style="width: 300px; border: none;" ngModel>
               </label>
                </div>

                <div class="form-group col-md-10">
                    <label class="mr-3">Text
                    <textarea name="text" rows="5" style="width: 300px;" class="form-control" ngModel></textarea>
                </label>
                </div>

                <button type="submit" class="ml-3">Submit</button>
            </form>
        </div>
        <div class="col-md-8">
            <ul class="heroes">
                <h2 class="text-center mb-5">Mes Articles</h2>
                <div *ngFor="let article of articles" class="mt-5 p-3">
                    <div class="d-flex justify-content-center">
                        <img src="/assets/img/{{article.photo}}" alt="Default" />
                    </div>

                    <a routerLink="/articles/{{article.id}}" class="d-flex justify-content-center">
                     {{article.title}}
                </a>
                    <div class="card">
                        {{article.text}}
                    </div>
                    <div>
                        {{article.date | date:'mediumDate'}}
                    </div>
                    <div>
                        <button class="float-right" title="delete article" (click)="delete(article)">Supprimer</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>