<h3 class="mt-4 mb-4">Top Articles</h3>

<div class="row">
    <div *ngFor="let article of articles" class="card-img-top  col-md-6 mb-5" style="width: 18rem;">
        <a routerLink="/articles/{{article.id}}">
            <img class="card-img-top img-responsive" height="350" src="/assets/img/{{article.photo}}" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.text}}</p>
            <p>{{article.date | date:'mediumDate'}}</p>
        </div>
    </div>
</div>